/* ### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%) */

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-width: calc(100vh - 0.1px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

main{
    margin: 1rem 5rem;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    list-style-type: none;
}

